$timer-size: 20rem;
$timer-scale-factor: 1.5;
$timer-background-color: darken($color-base-dark, 2%);

.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $timer-size;
    height: $timer-size;
    margin-top: 2rem;
    border-radius: 50%;
    background: linear-gradient(145deg, $color-base-darker, $color-base-light);
    box-shadow: 2rem 2rem 4rem $color-base-dark, -2rem -2rem 4rem $color-base-light;
    transition: transform $transition-timing-fast $transition-easing-cubic;

    &::before {
        content: '';
        position: absolute;
        top: $spacing-med;
        right: $spacing-med;
        bottom: $spacing-med;
        left: $spacing-med;
        border-radius: 50%;
        background-color: $timer-background-color;
    }

    @include mq($mq-tab--sml) {
        transform: scale($timer-scale-factor);
        transform-origin: top left;
    }

    &-wrapper {
        display: block;
        width: $timer-size;
        height: $timer-size;

        @include mq($mq-tab--sml) {
            width: calc(#{$timer-size} * #{$timer-scale-factor});
            height: calc(#{$timer-size} * #{$timer-scale-factor});
        }
    }

    &__stroke,
    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__stroke {
        overflow: visible !important;
        fill: none;
        stroke: $color-primary;
        stroke-width: $spacing-xxxs;
        stroke-linecap: round;
        transform: rotate(-90deg) scale(0.8);
    }

    &__toggle,
    &__counter,
    &__play-state {
        z-index: 1;
    }

    &__counter {
        @include text-xxxl;
        font-weight: $font-weight-bold;
    }

    &__play-state {
        @include text-xs;
        text-transform: uppercase;
        margin-left: 0.5rem;
        letter-spacing: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-top: $spacing-sml;
        transform: translate(-50%, 100%);
    }

    &__toggle {
        font-size: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}
