$color-white: #fff;
$color-black: #222;

$color-orange: #f87170;
$color-teal: #6ff3fa;
$color-purple: #db80f6;

$color-base: #1f2141;
$color-base-light: lighten($color-base, 5%);
$color-base-lighter: lighten($color-base, 10%);
$color-base-lightest: lighten($color-base, 15%);
$color-base-dark: darken($color-base, 5%);
$color-base-darker: darken($color-base, 10%);
$color-base-darkest: darken($color-base, 15%);

$color-gray: #8d9297;
$color-gray-light: lighten($color-gray, 5%);
$color-gray-lighter: lighten($color-gray, 10%);
$color-gray-lightest: lighten($color-gray, 25%);
$color-gray-dark: darken($color-gray, 5%);
$color-gray-darker: darken($color-gray, 10%);
$color-gray-darkest: darken($color-gray, 15%);

:root {
    --color-orange: #f87170;
    --color-teal: #6ff3fa;
    --color-purple: #db80f6;
    --color-primary: var(--color-orange);
}

$color-primary: var(--color-primary);
